[submodule "Vendor/CloudKitGDPR"]
	path = Vendor/CloudKitGDPR
	url = https://github.com/arturgrigor/CloudKitGDPR.git
[submodule "Vendor/RCLog"]
	path = Vendor/RCLog
	url = https://github.com/ralcr/RCLog.git
[submodule "Vendor/RCPreferences"]
	path = Vendor/RCPreferences
	url = https://github.com/ralcr/RCPreferences.git
[submodule "Vendor/RCHttp"]
	path = Vendor/RCHttp
	url = https://github.com/ralcr/RCHttp.git
[submodule "Vendor/Keychain"]
	path = Vendor/Keychain
	url = https://github.com/jrendel/SwiftKeychainWrapper.git
